body {
    background-color: #f0f8f0; /* light green background */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

p {
    color: #008000; /* green text color */
    font-size: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #008000; /* green border */
    border-radius: 5px;
}

#room-name-submit {
    background-color: #008000; /* green button background */
    color: #ffffff; /* white text color */
    cursor: pointer;
}

#room-name-submit:hover {
    background-color: #006400; /* darker green on hover */
}

#room-name-input {
    margin-left: 28px;
}

#submit {
    margin-top: 10px;
    margin-left: 75px;
}