body {
    background-color: #f0f8f0; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container-wrapper {
    display: flex;
    width: 80%; 
    margin: 0 auto; 
    margin-top: 50px;
}

.l-container {
    width: 30%;
    text-align: left;
    margin-right: 50px;
}

.r-container {
    text-align: center;
    width: 70%;
}

#message-container {
    max-height: 500px; 
    min-height: 500px;
    overflow-y: auto; 
    padding: 10px;
    border: 3px solid #008000;
    border-radius: 5px;
    background-color: #ffffff; 
    text-align: left;
}

#user-container {
    max-height: 500px; 
    min-height: 500px;
    overflow-y: auto;
    padding: 10px;
    border: 3px solid #008000;
    border-radius: 5px;
    background-color: #ffffff; 
    text-align: left;
}

#chat-message-input {
    padding: 10px;
    margin: 5px;
    width: 300px;
    border: 1px solid #008000; 
    border-radius: 5px;
}

#chat-message-submit {
    background-color: #008000; 
    color: #ffffff; 
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#create-group-submit {
    background-color: #008000; 
    color: #ffffff; 
    padding: 10px;
    margin: 5px;
    cursor: pointer;    
}

#chat-message-submit:hover {
    background-color: #006400; 
}

.message {
    margin: 5px 0;
    padding: 8px;
    max-width: fit-content;
    border: 1px solid #008000;
    border-radius: 5px;
    background-color: #f0f8f0; 
    overflow-wrap: break-word;
    overflow-x: hidden;
}

#room-name-container {
    padding: 10px;
    margin-left: 30px;
}

.room-name-content {
    padding: 1px;
}

#room-name {
    color: #008000;
    font-size: 1.4em;
    margin: 0;
}
