{% extends "chat/layout.html" %}
{% load static %}


{% block head %}
    <script type="text/javascript" src="{% static 'js/join_room.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/join_room.css' %}">
{% endblock  %}


{% block body %}
    <form action="">
        <p>Join a Chat room: </p>
        {% csrf_token %}
        <label>Name: <input id="room-name-input" type="text" size="50"><br></label>
        <label>Password: <input id="room-password-input" type="password" size="50"><br></label>
        <input id="submit" type="button" value="Enter">
    </form>
    
{% endblock %}